* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}
body {
    font-size: 16px;
    font-family: Sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.header {
    background: url('../img/paysage.jpg');
    height: 350px;
    background-size: cover;
    background-position: bottom;
}
.header .navbar {
    text-align: center;
    padding-top: 25px;
}
.header .navbar a {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}
.header .navbar a:hover {
    text-decoration: underline;
}
.header .navbar a:last-child {
    padding-left: 10px;
}
.header .txt .title {
    align-content: center;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 35px;
    padding-top: calc(350px / 2 - 80px);
}

.body {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 100px 0;
}
.body .text .title {
    margin: 0;
    padding: 20px 0 20px 0;
}
.body .text .phrase {
    margin: 0;
}

.body .img {
    display: inline;
}
.body .img img {
    width: 50%;
    border: 5px solid #000;
}

@media screen and (max-width: 630px) {
    .body .img img {
        width: 90%;
    }
}
@media screen and (max-width: 430px) {
    .body .img img {
        width: 100%;
    }
}

.main {
    width: 100%;
    padding-bottom: 50px;
}
.main .title {
    text-align: center;
}
.main .contact {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main form input {
    width: 50%;
    height: 50px;
    border: 1px solid #000;
    outline: none;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.main form textarea {
    padding-left: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
    max-width: 50%;
    min-width: 50%;
    max-height: 300px;
    min-height: 300px;
    font-family: sans-serif;
    padding-top: 10px;
    font-size: 16px;
}
.main form button {
    height: 50px;
    background: rgb(43, 75, 86);
    color: #FFF;
    padding: 8px 25px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}


.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
    padding: 10px;
    background: rgb(43, 75, 86);
    color: #FFF;
}