html, body {
    margin: 0;
}
body {
    font-size: 16px;
    font-family: Sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.header {
    color: #FFF;
}
.header .presentation_img .title {
    text-align: center;
    margin-top: 0;
    padding: 50px 0 25px 0;
}

.header .presentation_img .text {
    text-align: center;
}
.header .presentation_img .text a {
    text-decoration: none;
    color: rgba(5, 5, 5, 0.7);
}
.header .presentation_img .text a:hover {
    text-decoration: underline;
    color: #FFF;
}

.header .presentation_img {
    height: 250px;
    width: 100%;
    background-color: rgb(43, 75, 86);;
}

.body {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
.body .text .title {
    margin: 0;
    padding: 20px 0 20px 0;
}
.body .text .phrase {
    margin: 0;
}

.footer {
    text-align: center;
    padding: 25px 0 25px 0;
    background: rgb(43, 75, 86);
    color: #FFF;
}